body{

    background-color: #282828;
    text-align : center;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(background2.jpg);
    background-size: 100dvw 100dvh;
    background-blend-mode: overlay;


  }


  #footer{
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: bottom;
    justify-items: center;
  }